  <head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <style>
      .mySlides {display:none;}
    </style>
  </head>
  <body>
    <div class="page">
      <!--
      ========================================================
      							HEADER
      ========================================================  
      -->
      <header>
        <div class="container">
          <div class="brand">
            <h1 class="brand_name"><a href="./">MiDiabetes</a></h1>
          </div>
        </div>
        <div id="stuck_container" class="stuck_container">
          <div class="container">
            <nav class="nav">
              <ul data-type="navbar" class="sf-menu">
                <li class="active"><a href="./">Inicio</a>
                </li>
                 <li><a href="/aboutMe">Sobre el Poyecto</a>
                </li>
                <li><a href="/services">Servicios</a>
                </li>
                <li><a href="/contact">Contacto</a>
                </li>
                <li>
                <%= link_to admin_comidas_path do %>
            <button type="button" style="background-color:rgba(0,0,0,0,0.5); color: white;">ASISTENTE DE COMIDAS</button>
            <%end%>
               </li>
              </ul>
            </nav>
          </div>
        </div>
      </header>
      <!--
      ========================================================
                                  CONTENT
      ========================================================
      -->
      <main>
         <section class="container banner_wr2">
          <div class="w3-content w3-section" style="width:100%; height:100%">
            <img class="mySlides" src=<%=image_path("simbolo.jpg")%> style="width:100%">
            <img class="mySlides" src=<%=image_path("alimentos.jpg")%> style="width:100%">
            <img class="mySlides" src=<%=image_path("pdf.jpg")%> style="width:100%">
          </div>
        </section>
        <section>
        <section>
          <div class="container banner_wr">
            <ul class="banner">
              <li>
                <div class="fa fa-tint"></div>
                <h3>Gestión de <br/>glucosa</h3>
                <p>Facilitamos el autocontrol y la gestión de los niveles de glucosa, además de otros datos importantes para el paciente diabetico, como la hemoglobina glicosilada.</p>
              </li>
              <li>
                <div class="fa fa-cutlery"></div>
                <h3>Gestión de <br/>alimentacion</h3>
                <p>Podrás llevar un control de los hidratos/raciones consumidos en cada comida, las cuales son previamente introducidas a través del asistente web.</p>
              </li>
              <li>
               <div class="fa fa-bar-chart"></div>
                <h3>Estadísticas, tablas, <br/>gráficas</h3>
                <p>Se icluyen gráficas, tablas y estadísticas en base a la información que hayas añadido previamente.</p>
              </li>
              <li>
                <div class="fa fa-file-pdf-o"></div>
                <h3>Exportación <br/>de datos</h3>
                <p>¡Podrás exportar todos la información recogida y obtener un informe en PDF!</p>
              </li>
            </ul>
          </div>
        </section>
     
          <div class="container hr">
          </div>

        <section class="well1">
          <div class="container">
            <div class="row">
              <div class="grid_4">
                <h2>Sobre mi</h2><img src=<%=image_path("yo.png")%> alt="">
                <p>¡Hola! Yo soy Javier Madrid Alba, tengo 23 años, y soy estudiante de la Escuela Superior de Informatica de Ciudad Real, en la UCLM. He cursado la intensificación de Tecnologías de la Información y este es mi Trabajo de Fin de Grado. Consiste en un sistema mediante el cual poder facilitar el seguimiento y el auto-control del paciente diabetico, atendiendo a sus niveles de glucosa y la dieta seguida. Si quieres saber más sobre mi y sobre el proyecto, pincha en el botón que aparece abajo.</p><a href="#" class="btn">Leer más</a>
              </div>
              <div class="grid_4">
                <img src=<%=image_path("imagenlogin.png")%> alt="">
              </div>

              <div class="grid_4">
            <ul class="row product-list">
              <li class="grid_4">
                <br/><div class="box wow fadeInRight">
                  <div class="box_aside">
                    <div class="icon fa-thumbs-o-up"></div>
                  </div>
                  <div class="box_cnt__no-flow">
                    <h3><a>Facilidad de uso</a></h3>
                    <p>La interacción con el sistema es sencilla, intuitiva y natural de cara a cualquier tipo de usuario.</p>
                  </div>
                </div>
                <hr>
                <div data-wow-delay="0.2s" class="box wow fadeInRight">
                  <div class="box_aside">
                    <div class="icon fa-bullseye"></div>
                  </div>
                  <div class="box_cnt__no-flow">
                    <h3><a>Tecnología NFC</a></h3>
                    <p>¡El uso de esta tecnología deriva en tareas mas rápidas y sencillas!</p>
                  </div>
                </div>
                <hr>
                <div data-wow-delay="0.3s" class="box wow fadeInRight">
                  <div class="box_aside">
                    <div class="icon fa-database"></div>
                  </div>
                  <div class="box_cnt__no-flow">
                    <h3><a href="#">Asistente Web</a></h3>
                    <p>Mediante el asistente web podrás introducir, editar o eliminar comidas según tus necesidades. ¡Pruébalo!</p>
                  </div>
                </div>
                <hr>
            </ul>
              </div>
            </div>
          </div>
        </section>
      </main>
      <!--
      ========================================================
                                  FOOTER
      ========================================================
      -->
      <footer>
        <section class="well3">
          <div class="container">
            <ul class="row contact-list">
              <li class="grid_4">
                <div class="box">
                  <div class="box_aside">
                    <div class="icon2 fa-map-marker"></div>
                  </div>
                  <div class="box_cnt__no-flow">
                    <address>Paseo de la Universidad, 4<br/>13071, Ciudad Real (Ciudad Real)</address>
                  </div>
                </div>
                <div class="box">
                  <div class="box_aside">
                    <div class="icon2 fa-envelope"></div>
                  </div>
                  <div class="box_cnt__no-flow"><a>Javier.Madrid@alu.uclm.es</a></div>
                </div>
              </li>
              <li class="grid_4">
                <div class="box">
                  <div class="box_aside">
                    <div class="icon2 fa-phone"></div>
                  </div>
                  <div class="box_cnt__no-flow"><a>+34 619 359 144</a></div>
                </div>
              </li>
              <li class="grid_4">
                <div class="box">
                  <div class="box_aside">
                    <div class="icon2 fa-facebook"></div>
                  </div>
                  <div class="box_cnt__no-flow"><a href="#">Follow on facebook</a></div>
                </div>
                <div class="box">
                  <div class="box_aside">
                    <div class="icon2 fa-twitter"></div>
                  </div>
                  <div class="box_cnt__no-flow"><a href="#">Follow on Twitter</a></div>
                </div>
              </li>
            </ul>
          </div>
        </section>
        <section>
          <div class="container">
            <div class="copyright">Business Company © <span id="copyright-year"></span>.&nbsp;&nbsp;<a href="index-5.html">Privacy Policy</a>More Business Website Templates at <a rel="nofollow" href="http://www.templatemonster.com/category/business-web-templates/" target="_blank">TemplateMonster.com</a>
            </div>
          </div>
        </section>
      </footer>
    </div>

    <script>
      var myIndex = 0;
      carousel();

      function carousel() {
          var i;
          var x = document.getElementsByClassName("mySlides");
          for (i = 0; i < x.length; i++) {
             x[i].style.display = "none";  
          }
          myIndex++;
          if (myIndex > x.length) {myIndex = 1}    
          x[myIndex-1].style.display = "block";  
          setTimeout(carousel, 5000); // Change image every 2 seconds
      }
    </script>
  </body>
</html>
